{% extends 'main/base.html' %}
{% load static %}
{% block content %}

<div class="left-ads-display col-lg-8">

    <div class="row">
        <div class="">
            <img src="{{object.image.url}}" class="rounded-circle" style="width:250px;height:250px;" alt="">
        </div>
        <div class="desc1-right col-md-6 pl-lg-4">
            <h3 class="editContent" style="outline: none; cursor: inherit;">
            </h3>
            <h5 class="editContent">{{object.name}}</h5>
            <ul>
                <li style="list-style: none"><span><b>Age:</b> {{object.age}}</span></li>
                <li style="list-style: none"><span><b>Biography:</b> {{object.description}}</span>
                </li>
                    {% if object.film_actors.all %}
                <li style="list-style: none"><span><b>Films:</b>
                {% for i in object.film_actors.all %}
                    {{i}}<br>
                    {% endfor %}
                    {% endif %}

                </span>
                </li>
                                    {% if object.film_directors.all %}

                 <li style="list-style: none"><span><b>Directed:</b>
                {% for i in object.film_directors.all %}
                    {{i}}<br>
                    {% endfor %}

                </span>
                </li>
                                    {% endif %}


            </ul>
            <div class="share-desc">
                <div class="share">
                    <h4 class="editContent"
                        style="outline: none; cursor: inherit;">
                        Share:</h4>
                    <ul class="w3layouts_social_list list-unstyled">
                        <li>
                            <a href="#" class="w3pvt_facebook editContent"
                               style="outline: none; cursor: inherit;">
                                                <span class="fa fa-facebook-f"
                                                      style="outline: none; cursor: inherit;"></span>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="w3pvt_twitter editContent"
                               style="outline: none; cursor: inherit;">
                                                <span class="fa fa-twitter"
                                                      style="outline: none; cursor: inherit;"></span>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="w3pvt_dribble editContent"
                               style="outline: none; cursor: inherit;">
                                                <span class="fa fa-dribbble"
                                                      style="outline: none; cursor: inherit;"></span>
                            </a>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
    </div>

</div>


{% endblock %}