<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<h1>{{movie.title}}</h1>
<h2>{{movie.tagline}}</h2>
<div><img src="{{movie.poster.url}}" ></div>
{{movie.description}}<br>
{{movie.poster}}<br>
{{movie.year}}<br>
{{movie.country}}<br>
{{movie.directors}}<br>
{{movie.actors}}<br>
{{movie.genres}}<br>
{{movie.world_premiere}}<br>
{{movie.budget}}<br>
{{movie.fees_in_usa}}<br>
{{movie.fees_in_world}}<br>
{{movie.category}}<br>

</body>
</html>
